@font-face {
    font-family: Regular;
    src: url('../fonts/Object-Regular.woff');
}
@font-face {
    font-family: Light;
    src: url('../fonts/Object-ExtraLight.woff');
}
@font-face {
    font-family: Medium;
    src: url('../fonts/Object-Medium.woff');
}
@font-face {
    font-family: Bold;
    src: url('../fonts/Object-Bold.woff');
}
@font-face {
    font-family: ExtraBold;
    src: url('../fonts/Object-ExtraBold.woff');
}
.full-div{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.center-div{
    width: 45%;
    height: 90vh;
    /* background-color: green; */
}
.logo-div{
    width: 100%;
    height: 20%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: end;
}
.logo-img{
    width: 60%;
}
.fome-div{
    width: 100%;
    height:70%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.fome-div-1{
     background: linear-gradient(0deg, #C59C3D, #F2CD74);
     width: 60%;
     height: 80%;
     border-radius:20px;
}
.form{
    width: 100%;
    height: 100%;
    display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.reg-div{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-reg{
    font-family:ExtraBold ;
    text-transform: uppercase;
    font-size: 25px;
    color: #2F345B;
}
.first-name-div{
    width: 100%;
    height: 7%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.first-name-icon{
    width: 15%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-half{
    width: 50%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #86661D;
    font-family: Medium;
    font-size: 14px;

}
.user-icon{
    width:55%;
}
.eye-icon{
    width: 8%;
    position :absolute;
    right:35px;
}
.input-first-name{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    position:relative;
    /* justify-content: center; */
}
.input-box{
    font-family:Regular ;
    border-radius: 5px;
    border:none;
    background: linear-gradient(0deg, #C59C3D, #F2CD74);
    color:#2F345B;
    font-size: 14px;
    width: 90%;
    height: 90%;
}
.btn-box{
    font-family:bold ;
    border-radius: 5px;
    border:none;
    background: linear-gradient(0deg, #C59C3D, #F2CD74);
    color:#2F345B;
    font-size: 13px;
    width: 90%;
    height: 90%;
    text-transform:capitalize;
}
.or{
    width: 90%;
    height: 100%;
    /* background-color: green; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* color: #86661D;
    font-family: Medium;
    font-size: 14px;   */
}
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}
.or-text{
    color: #86661D;
    font-family: Medium;
    font-size: 14px;  
}
.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 3px solid #86661D;  /* Line color */
}
.input-first-name input::placeholder {
    color: #86661D;
    font-family: Medium;
    padding-left:5px;
}
input:focus {
    outline:none;
    border:none ;
    box-shadow: inset 0 0 0 0, 0 0 5px 0.5px #86661D;
    }
.f-ps{
    color: #86661D;
    font-family: Medium;
    font-size: 14px;
    
}
.btn-div{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    font-family: Bold;
    font-size:20px;
    border-radius: 5px;
    border:none;
    background: linear-gradient(0deg, #F2CD74, #C59C3D);
    width: 35%;
    height: 75%;
    color: #2F345B;
}

.btn-otp{
background:none;
border:none;
font-size:10px;
font-family: Bold;
position:absolute;
right:30px;


}

@media screen and (min-width: 1281px){

    .logo-div{
        align-items: center;
    }
    .logo-img{
        width: 50%;
    }
    .fome-div-1{
        width: 50%;
        height: 100%;
   }
}

@media screen and (min-width: 768px ) and (max-width: 1279px){
    
    .center-div{
        width: 100%;
    }
    .p-reg{
        font-family:ExtraBold ;
        font-size: 30px;
    }
    .logo-div{
        align-items: center;
    }
    .logo-img{
        width: 50%;
    }
    .fome-div-1{
        width: 50%;
        height: 90%;
   }
   .btn{
    font-size:25px;
    width: 60%;
    height: 90%;
}
.logo-img{
    width: 50%;
}
}


@media screen and (max-width: 767px ) and (min-width: 320px){
    
    .center-div{
        width: 100%;
    }
    .p-reg{
        font-family:ExtraBold ;
        font-size: 21px;
    }
    .logo-div{
        align-items: center;
    }
    .logo-img{
        width: 50%;
    }
    .fome-div-1{
        width: 75%;
        height: 90%;
   }
   .btn{
    font-size:18px;
    width: 60%;
    height: 90%;
}
.logo-img{
    width: 75%;
}
}