@font-face {
    font-family: zurchn-regular;
    src: url("../fonts/zurchn.ttf");
}

a {
    text-decoration: none;
    color: #2f345b;
}

.sm-nav-main-div {
    display: none;
}

.ms-nav-icon {
    display: none;
}

.ms-header-box {
    display: none;
}

/* Preloader styling */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* background-image: url(../Pictures/loder-backgound-1.png);
    background-size: cover; */
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* Loader styling */
.loader {
    width: 400px;
    /* Adjust based on your logo size */
    height: 400px;
    /* Adjust based on your logo size */
    overflow: hidden;
    z-index: 9999;
}

/* Loader image styling */
.loader-img {
    width: 100%;
    height: auto;
    clip-path: inset(0 100% 0 0);
    /* Initially hides the image */
    animation: slideImage 2s steps(20) infinite;
    /* Adjust number of steps based on logo width */
    z-index: 9999;
}

/* Animation to reveal the image */
@keyframes slideImage {
    to {
        clip-path: inset(0 -100% 0 0);
        /* Reveals the image by animating the clip-path */
    }
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hide scrollbar for all browsers */
html::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

#scroll-progress-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 8px;
    /* Thickness */
    height: 0%;
    /* Now height will change, not width */
    background-color: #c59c3d;
    /* Your main color */
    z-index: 9989;
    transition: height 1s ease-out;
}

.scroll-div {
    height: 60px;
    width: 60px;
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.scroll-to-top {
    height: 60px;
    width: 60px;
    background: #c59c3d;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.scroll-to-top:hover {
    opacity: 1;
}

.scroll-to-top img {
    width: 80%;
}

.main-navbar {
    width: 100%;
    height: 5rem;
}

.navbar {
    width: 70%;
    height: 70%;
}

.header-left {
    width: 30%;
    height: 100%;
}

.header-left-box {
    width: 80%;
    height: 100%;
}

.logo-img {
    width: 100%;
}

.header-right {
    width: 70%;
    height: 95%;
    background-color: hsla(0, 0%, 95%, 0.71);
    border-radius: 0.75rem;
}

.header-right-box {
    width: 80%;
    height: 100%;
}

.header-right-ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.header-right-ul-li-a {
    font-family: zurchn-regular;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    color: #2f345b;
}

.header-right-box-btn {
    width: 20%;
    height: 100%;
}

.header-right-btn {
    font-family: zurchn-regular;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    text-transform: capitalize;
    background-color: #2f345b;
    border: none;
    border-radius: 0.75rem;
    height: 2.5rem;
    width: 9rem;
}

.main-div-p {
    font-family: zurchn-regular;
    font-size: 5rem;
    color: white;
    text-transform: capitalize;
}

.filter-page-heading-div{
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
}
.filter-page-heading-box{
    width: 65%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    color: #c59c3d;
    font-family: zurchn-regular;
    font-weight: bold;
    font-size: 2rem;
}
.filter-page-reviews{
    font-weight: normal;
    font-size: 1.2rem;
    margin-top: 1rem;

}
.filter-page-reviews i{
    margin-right: 0.5rem;
    color: #2f345b;
}

.imges-main-div {
    width: 100%;
    height: 30rem;
}

.imges-box {
    width: 70%;
    height: 100%;
}

.img-left-div {
    width: 50%;
    height: 100%;
}

.img {
    background-image: url(../Pictures/bangkok-tourist-e1743577180729.png);
    background-size: cover;
    width: 90%;
    height: 90%;
    border-radius: 2rem;
}

.img-right-div {
    width: 50%;
    height: 90%;
    border-radius: 2rem;
    flex-direction: column;
    justify-content: space-around;
}

.img-top-div,
.img-bottom-div {
    width: 100%;
    height: 45%;
    justify-content: space-around;
}

.img-right-1-div{
    background-image: url(../Pictures/grand-palace-wat-phaew-thailand-scaled.jpg);
    background-size: cover;
    width: 45%;
    height: 100%;
    border-radius: 1rem;
}

.img-right-2-div{
    background-image: url(../Pictures/thailand_nature_7321530c5a.jpg);
    background-size: cover;
    width: 45%;
    height: 100%;
    border-radius: 1rem;
}

.img-right-3-div{
    background-image: url(../Pictures/008c39e51aae8e2d2cd5e7d57fb71d5a_1000x1000.jpg);
    background-size: cover;
    width: 45%;
    height: 100%;
    border-radius: 1rem;
}

.img-right-4-div{
    background-image: url(../Pictures/istockphoto-1345573076-612x612.jpg);
    background-size: cover;
    width: 45%;
    height: 100%;
    border-radius: 1rem;
}






.filer-detail-heading-main-div{
    width: 100%;
    height: 5rem;
}
.filter-detail-heading-box{
    width: 70%;
    height: 100%;
}
.filter-detail-heading-div{
    width: 20%;
    height: 60%;
    border-bottom: #f2cd74 solid 3px;
    color: #f2cd74;
    font-family: zurchn-regular;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}

.overview-detail-div{
    width: 100%;
    height: auto;
}
.overview-detail-box{
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;    
    font-family: zurchn-regular;
}
.overview-heading{
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    font-family: zurchn-regular;
    font-size: 2.5rem;
    font-weight: bold;
     text-transform:uppercase ;
    text-align: center;
    letter-spacing: 2px;
    color: #c59c3d;
    justify-content: left;
}
.overview-paragraph{
    font-family: zurchn-regular;
    font-size: 1.5rem;
    color: #2f345b;
    line-height: 2rem;
    margin: 1.5rem 0rem;
    text-align: justify;

}
.overview-paragraph-heading{
    width: 100%;
    justify-content: left;
    font-family: zurchn-regular;
    font-size: 2rem;
    color: #c59c3d;
    line-height: 2rem;
}

.overview-detail-box ul{
    width: 100%;
    margin-bottom: 1.5rem;
    color: #2f345b;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.overview-detail-box ul li{
    list-style: disc;
}
li::marker {
  color: #c59c3d;
}

.overview-detail-box ol{
    width: 100%;
    margin: 1.5rem 0rem;
    color: #2f345b;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.overview-detail-box ol li{
    list-style: auto;
}



.requirements-detail-div{
    width: 100%;
    height: auto;
    display: none;
}
.requirements-detail-box{
    width: 67%;
    flex-direction: column;
    font-family: zurchn-regular;
}
.req-heading{
    width: 100%;
    margin: 1.5rem 0rem;
    font-family: zurchn-regular;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
     text-transform:uppercase ;
    text-align: center;
    color: #c59c3d;
    justify-content: left;
}
.requirements-detail-box ol{
    width: 100%;
    height: 90%;
    color: #2f345b;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
}
.requirements-detail-box ol li{
    list-style: auto;

}

.packages-detail-div{
    width: 100%;
    height: auto;
    display: none;
}
.packages-detail-box{
    width: 67%;
    flex-direction: column;
    font-family: zurchn-regular;
}
.packages-heading{
    width: 100%;
    margin-top: 1.5rem;
    font-weight: bold;
    font-family: zurchn-regular;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-transform:uppercase ;
    text-align: center;
    color: #c59c3d;
    justify-content: left;
}
.packages-detail-box ol{
    width: 100%;
    margin: 1.5rem 0rem;
    color: #c59c3d;
    font-size: 2rem;
    line-height: 2.5rem;
}
.packages-detail-box ol li{
    list-style: auto;
    margin-top: 1rem;
}
.packages-paragraph{
  width: 100%;
    margin: 1rem 0rem;
    color: #2f345b;
    font-size: 1.5rem;
    line-height: 2.5rem;  
}
.packages-detail-heading{
    color: white;
    font-size: 2rem; 
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c59c3d;
    border-radius: 0.5rem;
}
.packages-detail-box ol li ul{
    width: 100%;
    margin: 1rem 0rem;
    color: #2f345b;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.packages-detail-box ol li ul li{
    list-style: disc;
    margin: 0rem 0rem 0.5rem 0rem;
}
.packages-paragraph-last{
  width: 100%;
  color: #2f345b;
  font-size: 1.5rem; 
}
.packages-price{
    width:15rem;
    height: 3rem;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid #2f345b;
    color: #2f345b;
    margin: 2rem 0rem;
}


.reviews-detail-div{
    width: 100%;
    height: auto;
    display: none;
}
.reviews-detail-box{
    width: 67%;
    flex-direction: column;
    font-family: zurchn-regular;
}
.reviews-heading{
    width: 100%;
    margin-top: 1.5rem;
    font-family: zurchn-regular;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform:uppercase ;
    letter-spacing: 2px;
    color: #c59c3d;
    text-align: center;
}
.reviews-rating{
    width: 100%;
    height: auto;
    color: #2f345b;
    font-family:zurchn-regular;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: self-start;
}
.reviews-rating-heading{
    width: 100%;
    height: auto;
     font-size: 1.5rem;
    margin: 1.5rem 0rem;
    padding: 0.5rem 0.5rem;
    color:#c59c3d ;
    background-color: #f2cc743a;
}
.ratings{
    width: 100%;
    margin-top: .5rem;
    justify-content: left;
}
.ratings i{
    color: #c59c3d;
    margin-left: .5rem;
}
.ratings-div{
    width: 15rem;
    height: 0.9rem;
    border: 0.1rem solid #c59c3d;
    margin-left: 1rem;
    justify-content: left;
}
.ratings-div-1{
    width: 44.4%;
    height: 100%;
    background-color: #f2cd74;
}
.ratings-div-2{
    width: 22.2%;
    height: 100%;
    background-color: #f2cd74;
}
.ratings-div-3{
    width: 16.6%;
    height: 100%;
    background-color: #f2cd74;
}
.ratings-div-4{
    width: 11.1%;
    height: 100%;
    background-color: #f2cd74;
}
.ratings-div-5{
    width: 5.5%;
    height: 100%;
    background-color: #f2cd74;
}

.ratings p{
    font-size: 1.2rem;
    margin-left: .5rem;
    width: 100%;
    margin-top: .5rem;
    justify-content: left;
}
.reviews-clint-detail-div{
    width: 100%;
    align-items: self-start;
    flex-direction: column;
}
.reviews-stars{
    width: 10%;
    color: #c59c3d;
    font-size: 1.3rem;
    justify-content: left;
    margin-bottom: 1rem;
}
.reviews-stars i{
    margin-left: .2rem;
}
.author-name-time-div{
    width: 100%;
    height: auto;
    color:#2f345b;
    font-family: zurchn-regular;
    font-size: 1.5rem;
    justify-content: left;
    margin-bottom: 1rem;
}
.author-name{
    margin-right:0.7rem;
    font-weight: bold;
}
.review-time{
    font-size: 1rem;
    color: #c59c3d;
}
.clint-review-para{
    line-height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.reviews-detail-box ol{
    width: 100%;
    margin: 1.5rem 0rem;
    color: #2f345b;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.reviews-detail-box ol li{
    list-style: auto;

}










.policies-detail-div{
    width: 100%;
    height: auto;
    display: none;
}
.policies-detail-box{
    width: 67%;
    flex-direction: column;
    font-family: zurchn-regular;
}
.policies-heading{
    width: 100%;
    margin-top: 1.5rem;
    font-family: zurchn-regular;
    font-size: 2.5rem;
     text-transform:uppercase ;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #c59c3d;
    justify-content: left;
}
.policies-detail-box ul{
    width: 100%;
    margin: 1.5rem 0rem;
    color: #2f345b;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.policies-detail-box ul li{
    list-style: disc;
}
.main-footer-div {
    width: 100%;
    height: 30rem;
    background-color: #c59c3d;
    background-image: url(../Pictures/bildings.png);
    background-size: cover;
    flex-direction: column;
}

.footer-div {
    width: 100%;
    height: 90%;
    align-items: flex-end;
}

.footer-box {
    width: 80%;
    height: 90%;
    flex-direction: column;
}

.footer-box-top {
    width: 100%;
    height: 85%;
}

.footer-left-div {
    width: 35%;
    height: 100%;
    align-items: self-start;
    flex-direction: column;
}

.footer-logo-div {
    width: 100%;
    height: 25%;
    justify-content: left;
    align-items: self-start;
}

.footer-logo-div img {
    width: 60%;
}

.footer-e-mail-div {
    width: 100%;
    height: 75%;
    justify-content: left;
}

.footer-e-mail-div-2 {
    display: none;
}

.left-footer-center {
    width: 85%;
    height: 100%;
    position: relative;
    justify-content: left;
}

.left-footer-center input {
    width: 65%;
    border-radius: 0rem;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #2f345b;
    color: white;
    font-family: zurchn-regular;
    font-size: 1.5rem;
}

.left-footer-center input:focus,
input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari  */
    color: white;
}

.left-footer-center-btn {
    color: white;
    background-color: #2f345b;
    font-family: zurchn-regular;
    font-size: 1.2rem;
    border: none;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    right: 34%;
    bottom: 46%;
}

.left-footer-center-bottom {
    width: 80%;
    height: 30%;
    justify-content: start;
}

.center-right-div {
    width: 65%;
    height: 100%;
}

.footer-center-div {
    width: 30%;
    height: 100%;
}

.center-footer {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-pages-heading {
    width: 100%;
    height: 22%;
    align-items: self-start;
    justify-content: flex-start;
    font-family: zurchn-regular;
    color: #2f345b;
    font-size: 2rem;
    font-weight: bold;
}

.footer-center-heading-div {
    width: 50%;
    height: 60%;
    align-items: self-start;
}

.footer-center-heading-div ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;
    color: white;
}

.footer-center-heading-div ul li a {
    color: white;
    letter-spacing: 1.2px;
    font-size: 1.5rem;
    font-weight: 550;
}

.footer-right-div {
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-right-contact-div {
    width: 100%;
    height: 22%;
    font-family: zurchn-regular;
    color: #2f345b;
    font-size: 2rem;
    font-weight: bold;
    justify-content: flex-start;
    align-items: self-start;
}

.footer-right-number-div {
    width: 100%;
    height: 15%;
}

.footer-right-icon-contact {
    width: 7%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-icon {
    color: #f2cd74;
    font-size: 2rem;
}

.footer-right-contact-detail {
    width: 93%;
    height: 100%;
    align-items: self-start;
    justify-content: flex-start;
    font-family: zurchn-regular;
    color: white;
    font-size: 1.5rem;
    line-height: 35px;
}

.footer-right-email-div {
    width: 100%;
    height: 15%;
}

.footer-right-address-div {
    width: 100%;
    height: 15%;
}

.footer-box-bottom {
    width: 100%;
    height: 15%;
}

.left-footer-center-bottom {
    width: 100%;
    height: 100%;
    justify-content: start;
}

.footer-center-div-1-1 {
    width: 15%;
    height: 100%;
    justify-content: space-between;
}

.footer-center-icon-cls {
    background-color: #f2cd74;
    color: #2f345b;
    font-size: 1.6rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.footer-bottom {
    width: 100%;
    height: 10%;
    background-color: #f2cd74;
    color: #c59c3d;
    font-family: zurchn-regular;
}